---
import Layout from '../layouts/Layout.astro';
import { Github, Twitter, Linkedin } from 'lucide-astro';
---

<Layout title="David González Martínez">
	<main class="flex flex-col min-h-[100dvh] justify-center items-center">
		<h1 class="font-bold text-6xl text-center">David González Martínez</h1>
		<div class="flex gap-5 mb-16">
			<a href="https://github.com/davidgonmar">
				<Github class="w-8 h-8 mt-4" />
			</a>
			<a href="https://twitter.com/_davidgonmar">
				<Twitter class="w-8 h-8 mt-4" />
			</a>
			<a href="https://www.linkedin.com/in/david-gonz%C3%A1lez-mart%C3%ADnez-24874225b/">
				<Linkedin class="w-8 h-8 mt-4" />
			</a>
		</div>
		<div class="flex flex-col gap-4">
			<div class="flex flex-col gap-2">
				<h3 class="font-bold text-xl mt-1">Freelance software engineer</h3>
				<span class="text-gray-400">March 2023 - Present</span>
			</div>
		<div class="flex flex-col gap-2">
	</main>	
</Layout>


